In [2]:
import pandas as pd
import os

Reading somefiles which are in different location

In [32]:
df = pd.read_csv('./SalesAnalysis/Sales_Data/Sales_April_2019.csv')
# df.head()
%clear

#lets read all files in print it

In [36]:
files = [file for file in os.listdir('./SalesAnalysis/Sales_Data')]

for file in files:
    print(file)
    
%clear

Merging all files data into one data frames .just check in google (how to concate dataframes )

In [34]:
files = [file for file in os.listdir('./SalesAnalysis/Sales_Data')]

all_month_data = pd.DataFrame()

for file in files:
    df = pd.read_csv('./SalesAnalysis/Sales_Data/'+file)
    
    all_month_data = pd.concat([all_month_data,df])
    
#     print(all_month_data)

all_month_data.to_csv('all_data.csv',index=False)

read in updated data frames

In [41]:
all_data = pd.read_csv('all_data.csv')
# all_data.head(50)
# all_data.shape
%clear


# Augment data with additional columns

when we are performing to take out month we see to many nan value we have to clean it

In [45]:
# del all_data['Month']
# all_data.head(100) # we cant see 

nan_df = all_data[all_data.isna().any(axis=1)]
nan_df.head(50)
nan_df.shape
%clear

clean data #1 find nan values and delete it

In [61]:
all_data = all_data.dropna(how='all')
all_data.head()
%clear

clean data #2 find Or values and delete it

In [70]:
all_data = all_data[all_data['Order Date'].str[0:2] !='Or']


# temp_df = all_data[all_data['Order Date'].str[0:2]=='Or']
# temp_df.tail()
# temp_df.shape # or file total of 355 entry

add month column (data type is int64 convert it into string)

In [74]:
datatype = all_data.dtypes['Order Date']
# print(datatype)


all_data['Month'] = all_data['Order Date'].str[0:2] 
#converted and indexed and sliced 
# all_data.tail() 


# '''go clean find Or and delete it before converting back to intger'''
all_data['Month'] = all_data['Month'].astype('int32')
all_data.head()
# ValueError: invalid literal for int() with base 10: 'Or'

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4

WHAT WAS THE BEST MONTH FOR SALES AND HOW MUCH WAS EARNED THAT MONTH?

ADD a sales column