In [31]:
import pandas as pd
import os

Reading somefiles which are in different location

In [32]:
df = pd.read_csv('./SalesAnalysis/Sales_Data/Sales_April_2019.csv')
# df.head()

#lets read all files in print it

In [33]:
files = [file for file in os.listdir('./SalesAnalysis/Sales_Data')]

for file in files:
    print(file)

Sales_April_2019.csv
Sales_August_2019.csv
Sales_December_2019.csv
Sales_February_2019.csv
Sales_January_2019.csv
Sales_July_2019.csv
Sales_June_2019.csv
Sales_March_2019.csv
Sales_May_2019.csv
Sales_November_2019.csv
Sales_October_2019.csv
Sales_September_2019.csv

Merging all files data into one data frames .just check in google (how to concate dataframes )

In [34]:
files = [file for file in os.listdir('./SalesAnalysis/Sales_Data')]

all_month_data = pd.DataFrame()

for file in files:
    df = pd.read_csv('./SalesAnalysis/Sales_Data/'+file)
    
    all_month_data = pd.concat([all_month_data,df])
    
#     print(all_month_data)

all_month_data.to_csv('all_data.csv',index=False)

read in updated data frames

In [30]:
all_data = pd.read_csv('all_data.csv')
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

# Augment data with additional columns

when we are performing to take out month we see to many nan value we have to clean it

In [62]:
# del all_data['Month']
# all_data.head(100) # we cant see 

nan_df = all_data[all_data.isna().any(axis=1)]
nan_df.head(50)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1,NaN,NaN,NaN,NaN,09/29/19 10:19,NaN
356,NaN,NaN,NaN,NaN,09/27/19 17:19,NaN
735,NaN,NaN,NaN,NaN,09/12/19 21:39,NaN
1433,NaN,NaN,NaN,NaN,09/25/19 10:43,NaN
1553,NaN,NaN,NaN,NaN,09/06/19 12:24,NaN
1571,NaN,NaN,NaN,NaN,09/16/19 22:09,NaN
1992,NaN,NaN,NaN,NaN,09/28/19 13:23,NaN
2265,NaN,NaN,NaN,NaN,09/27/19 19:26,NaN
2798,NaN,NaN,NaN,NaN,09/08/19 08:16,NaN
3024,NaN,NaN,NaN,NaN,09/06/19 11:20,NaN
3098,NaN,NaN,NaN,NaN,09/24/19 08:34,NaN
4279,NaN,NaN,NaN,NaN,09/28/19 18:16,NaN
4562,NaN,NaN,NaN,NaN,09/03/19 09:32,NaN
4958,NaN,NaN,NaN,NaN,09/15/19 06:42,NaN
5565,NaN,NaN,NaN,NaN,09/07/19 18:49,NaN
6109,NaN,NaN,NaN,NaN,09/25/19 08:36,NaN
6119,NaN,NaN,NaN,NaN,09/18/19 20:15,NaN
6339,NaN,NaN,NaN,NaN,09/22/19 14:50,NaN
6430,NaN,NaN,NaN,NaN,09/15/19 14:29,NaN
6752,NaN,NaN,NaN,NaN,09/25/19 10:13,NaN
7163,NaN,NaN,NaN,NaN,09/14/19 17:10,NaN
7572,NaN,NaN,NaN,NaN,09/03/19 09:46,NaN
7648,NaN,NaN,NaN,NaN,09/08/19 18:02,NaN
8639,NaN,NaN,NaN,NaN,09/26/19 09:18,NaN
8896,NaN,NaN,NaN,NaN,09/18/19 05:35,NaN
9286,NaN,NaN,NaN,NaN,09/15/19 00:36,NaN
9501,NaN,NaN,NaN,NaN,09/16/19 22:45,NaN
9592,NaN,NaN,NaN,NaN,09/18/19 06:21,NaN
9604,NaN,NaN,NaN,NaN,09/21/19 10:05,NaN
9642,NaN,NaN,NaN,NaN,09/01/19 06:49,NaN
9699,NaN,NaN,NaN,NaN,09/14/19 11:40,NaN
9714,NaN,NaN,NaN,NaN,09/29/19 14:23,NaN
9928,NaN,NaN,NaN,NaN,09/20/19 20:08,NaN
10252,NaN,NaN,NaN,NaN,09/19/19 11:25,NaN
10699,NaN,NaN,NaN,NaN,09/16/19 20:26,NaN
11278,NaN,NaN,NaN,NaN,09/24/19 12:56,NaN
11442,NaN,NaN,NaN,NaN,09/22/19 09:46,NaN
11540,NaN,NaN,NaN,NaN,09/01/19 10:44,NaN
11686,187707,Wired Headphones,1,11.99,NaN,"513 Johnson St, San Francisco, CA 94016"
11687,187708,20in Monitor,1,109.99,NaN,"686 Lakeview St, San Francisco, CA 94016"
11688,187709,Lightning Charging Cable,1,14.95,NaN,"287 8th St, New York City, NY 10001"
11689,187710,AA Batteries (4-pack),1,3.84,NaN,"874 Park St, San Francisco, CA 94016"
11690,187711,Google Phone,1,600,NaN,"755 Adams St, San Francisco, CA 94016"
11691,187712,34in Ultrawide Monitor,1,379.99,NaN,"930 River St, San Francisco, CA 94016"
11692,187713,USB-C Charging Cable,1,11.95,NaN,"998 Adams St, Austin, TX 73301"
11693,187713,Flatscreen TV,1,300,NaN,"998 Adams St, Austin, TX 73301"
11694,187714,AA Batteries (4-pack),1,3.84,NaN,"418 Maple St, Atlanta, GA 30301"
11695,187715,AA Batteries (4-pack),1,3.84,NaN,"304 Cedar St, Austin, TX 73301"
11696,187716,USB-C Charging Cable,1,11.95,NaN,"722 7th St, Austin, TX 73301"
11697,187717,Lightning Charging Cable,1,14.95,NaN,"324 1st St, San Francisco, CA 94016"

In [61]:
)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1,NaN,NaN,NaN,NaN,09/29/19 10:19,NaN
356,NaN,NaN,NaN,NaN,09/27/19 17:19,NaN
735,NaN,NaN,NaN,NaN,09/12/19 21:39,NaN
1433,NaN,NaN,NaN,NaN,09/25/19 10:43,NaN
1553,NaN,NaN,NaN,NaN,09/06/19 12:24,NaN
1571,NaN,NaN,NaN,NaN,09/16/19 22:09,NaN
1992,NaN,NaN,NaN,NaN,09/28/19 13:23,NaN
2265,NaN,NaN,NaN,NaN,09/27/19 19:26,NaN
2798,NaN,NaN,NaN,NaN,09/08/19 08:16,NaN
3024,NaN,NaN,NaN,NaN,09/06/19 11:20,NaN
3098,NaN,NaN,NaN,NaN,09/24/19 08:34,NaN
4279,NaN,NaN,NaN,NaN,09/28/19 18:16,NaN
4562,NaN,NaN,NaN,NaN,09/03/19 09:32,NaN
4958,NaN,NaN,NaN,NaN,09/15/19 06:42,NaN
5565,NaN,NaN,NaN,NaN,09/07/19 18:49,NaN
6109,NaN,NaN,NaN,NaN,09/25/19 08:36,NaN
6119,NaN,NaN,NaN,NaN,09/18/19 20:15,NaN
6339,NaN,NaN,NaN,NaN,09/22/19 14:50,NaN
6430,NaN,NaN,NaN,NaN,09/15/19 14:29,NaN
6752,NaN,NaN,NaN,NaN,09/25/19 10:13,NaN
7163,NaN,NaN,NaN,NaN,09/14/19 17:10,NaN
7572,NaN,NaN,NaN,NaN,09/03/19 09:46,NaN
7648,NaN,NaN,NaN,NaN,09/08/19 18:02,NaN
8639,NaN,NaN,NaN,NaN,09/26/19 09:18,NaN
8896,NaN,NaN,NaN,NaN,09/18/19 05:35,NaN
9286,NaN,NaN,NaN,NaN,09/15/19 00:36,NaN
9501,NaN,NaN,NaN,NaN,09/16/19 22:45,NaN
9592,NaN,NaN,NaN,NaN,09/18/19 06:21,NaN
9604,NaN,NaN,NaN,NaN,09/21/19 10:05,NaN
9642,NaN,NaN,NaN,NaN,09/01/19 06:49,NaN
9699,NaN,NaN,NaN,NaN,09/14/19 11:40,NaN
9714,NaN,NaN,NaN,NaN,09/29/19 14:23,NaN
9928,NaN,NaN,NaN,NaN,09/20/19 20:08,NaN
10252,NaN,NaN,NaN,NaN,09/19/19 11:25,NaN
10699,NaN,NaN,NaN,NaN,09/16/19 20:26,NaN
11278,NaN,NaN,NaN,NaN,09/24/19 12:56,NaN
11442,NaN,NaN,NaN,NaN,09/22/19 09:46,NaN
11540,NaN,NaN,NaN,NaN,09/01/19 10:44,NaN
11686,187707,Wired Headphones,1,11.99,NaN,"513 Johnson St, San Francisco, CA 94016"
11687,187708,20in Monitor,1,109.99,NaN,"686 Lakeview St, San Francisco, CA 94016"
11688,187709,Lightning Charging Cable,1,14.95,NaN,"287 8th St, New York City, NY 10001"
11689,187710,AA Batteries (4-pack),1,3.84,NaN,"874 Park St, San Francisco, CA 94016"
11690,187711,Google Phone,1,600,NaN,"755 Adams St, San Francisco, CA 94016"
11691,187712,34in Ultrawide Monitor,1,379.99,NaN,"930 River St, San Francisco, CA 94016"
11692,187713,USB-C Charging Cable,1,11.95,NaN,"998 Adams St, Austin, TX 73301"
11693,187713,Flatscreen TV,1,300,NaN,"998 Adams St, Austin, TX 73301"
11694,187714,AA Batteries (4-pack),1,3.84,NaN,"418 Maple St, Atlanta, GA 30301"
11695,187715,AA Batteries (4-pack),1,3.84,NaN,"304 Cedar St, Austin, TX 73301"
11696,187716,USB-C Charging Cable,1,11.95,NaN,"722 7th St, Austin, TX 73301"
11697,187717,Lightning Charging Cable,1,14.95,NaN,"324 1st St, San Francisco, CA 94016"

add month column (data type is int64 convert it into string)

In [46]:
datatype = all_data.dtypes['Order Date']
# print(datatype)

# all_data['Order Date'] = df['Order Date'].apply(str)

# all_data['Month'] = all_data['Month'][0:2]